root = true

[*.{cs,csproj,sln}]
end_of_line = crlf
insert_final_newline = true

[*.cs]
charset = utf-8-bom

[*.{csproj,sln}]
charset = utf-8

[*.md]
charset = utf-8
end_of_line = lf
insert_final_newline = true
